@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css?family=Inter");

.login {
	font-size: 14px;
	line-height: 32px;
}

.mid {
	background-position-x: -150px;
	background-position-y: -70px;
}

.heading {
	font-size: 42px;
	line-height: 52px;
	letter-spacing: -0.21px;
	font-family: "Inter", sans-serif;
	font-weight: 700;
}

.anime {
	transition-property: transform, z-index, opacity;
}

.font {
	font-family: "Inter", sans-serif;
}
.preface {
	font-size: 11px;
	letter-spacing: 0.04em;
	line-height: 16px;
}

.lower-title {
	font-size: 29px;
	line-height: 38px;
}

.trial {
	color: red;
}
